@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/derived-variables";
@import "~bulma";
@import "~buefy/src/scss/buefy";

@font-face {
	font-family: "Calibri";
	src: url("~assets/fonts/Calibri.ttf");
}
@font-face {
	font-family: "Calibri-bold";
	src: url("~assets/fonts/CALIBRIB.ttf");
}
@font-face {
	font-family: "Calibri-italic";
	src: url("~assets/fonts/CALIBRII.ttf");
}
@font-face {
	font-family: "Gibson";
	src: url("~assets/fonts/Gibson-Regular.ttf");
}
@font-face {
	font-family: "Gibson-italic";
	src: url("~assets/fonts/Gibson-RegularItalic.ttf");
}
@font-face {
	font-family: "Gibson-semibold";
	src: url("~assets/fonts/Gibson-SemiBold.otf");
}
@font-face {
	font-family: "Gibson-bold";
	src: url("~assets/fonts/Gibson-bold.ttf");
}
@font-face {
	font-family: "Gibson-bolditalic";
	src: url("~assets/fonts/Gibson-BoldItalic.ttf");
}

$light-green: rgba(55, 202, 189, 0.3);
$dark-green: #152223;
$dark-light-green: #1A4A48;

body, html {
  overflow: hidden !important;
  font-family: 'Calibri' !important;
}
.font-gibson {
	font-family: "Gibson";
}
.font-gibson-semibold {
	font-family: "Gibson-semibold";
}
.font-gibson-italic {
	font-family: "Gibson-italic";
}
.font-gibson-bold {
	font-family: "Gibson-bold";
}
.font-gibson-bolditalic {
	font-family: "Gibson-bolditalic";
}
.font-calibri {
	font-family: "Calibri";
}
.font-calibri-bold {
	font-family: "Calibri-bold";
}
.font-calibri-italic {
	font-family: "Calibri-italic";
}

.has-background-darkgreen {
	background-color: $dark-green;
}
.has-text-darkgreen {
	color: $dark-green;
}
.has-background-lightgreen {
	background-color: $light-green;
}
.has-text-darkgreen {
	color: $dark-green;
}
.has-text-lightgreen {
	color: $light-green;
}
.has-text-darklightgreen {
	color: $dark-light-green;
}
.has-background-darklightgreen {
	background-color: $dark-light-green;
}
