@font-face {
	font-family: "Calibri";
	src: url("~assets/fonts/Calibri.ttf");
}
@font-face {
	font-family: "Calibri-bold";
	src: url("~assets/fonts/CALIBRIB.ttf");
}
@font-face {
	font-family: "Calibri-italic";
	src: url("~assets/fonts/CALIBRII.ttf");
}
@font-face {
	font-family: "Gibson";
	src: url("~assets/fonts/Gibson-Regular.ttf");
}
@font-face {
	font-family: "Gibson-italic";
	src: url("~assets/fonts/Gibson-RegularItalic.ttf");
}
@font-face {
	font-family: "Gibson-semibold";
	src: url("~assets/fonts/Gibson-SemiBold.otf");
}
@font-face {
	font-family: "Gibson-bold";
	src: url("~assets/fonts/Gibson-bold.ttf");
}
@font-face {
	font-family: "Gibson-bolditalic";
	src: url("~assets/fonts/Gibson-BoldItalic.ttf");
}
body, html {
  overflow: hidden !important;
  font-family: 'Calibri' !important;
}
.font-gibson {
	font-family: "Gibson";
}
.font-gibson-semibold {
	font-family: "Gibson-semibold";
}
.font-gibson-italic {
	font-family: "Gibson-italic";
}
.font-gibson-bold {
	font-family: "Gibson-bold";
}
.font-gibson-bolditalic {
	font-family: "Gibson-bolditalic";
}
.font-calibri {
	font-family: "Calibri";
}
.font-calibri-bold {
	font-family: "Calibri-bold";
}
.font-calibri-italic {
	font-family: "Calibri-italic";
}